body {
    background: #212529;
    font-family: "Nunito", sans-serif;
}

#main {
    font-size: 1.5rem;
    font-weight: 100;
}

#main .nav-link:hover {
    color: chartreuse;
}

#main .navbar-brand {
    color: chartreuse;
    font-size: 1.5rem;
}